.footer{
    background-color: #90EE90;
    border: 2px solid black;
    border-width: 1px;
    box-shadow: 0px -2px 10px #808080;
}

.social-icons a {
    margin-right: 20px;
    color: black;
}

.social-icons {
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer p {
    margin-bottom: 20px;
}

.footer l {
    margin-bottom: 5px;
}