.home {
    text-align: left;
    margin-left: 50px;
    margin-top: 40px;
    margin-bottom: 60px;
}

.home-display {
    display: flex;
}

.home-img {
    margin-left: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.slideshow-image {
    width: 100%;
    max-width: 300px; 
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0px 3px 10px #464646;
}

.home-text {
    margin-top: 10px;
    margin-bottom: 10px;
}

.home-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    color: rgb(97, 97, 255);
    margin-right: 10px;
}
