.events{
    display: flex;
}

.sidebar{
    background-color:#90EE90 ;
    border-radius: 10px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    box-shadow: 0px 3px 10px #464646;
}

.text{
    font-size: 14px;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.text-end{
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 0px;
}

.title{
    margin-bottom: 20px;
}

.posts{
    text-align: left;
}

.posts h3{
    margin-bottom: 10px;
}

.img{
    width: 200%;
    border-radius: 10px;
    box-shadow: 0px 3px 10px #464646;
    margin-bottom: 40px;
}

.event{
    display: flex;
    flex-wrap: wrap;
}
.padding{
    width: 180px;
    height: 180px;
    margin-right: 110px;
    margin-bottom: 110px;
}

.comments{
    margin-top: 30px;
    margin-left: 110px;
}

@media screen and (max-width: 600px) {
    .event{
        flex-direction: column;
    }

    .padding{
        width:40%; 
        margin-bottom: 1px ;
        margin-right: 1px;
    }

    .input-area{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 20%;
    }

    .comments{
        margin-top: 30px;
        margin-left: 1px;
    }

    .sidebar{
        margin-left: 1px;
    }
}

.author-div{
    display: flex;
}
.author{
    font-size: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin: 0px;
    margin-top: 10px;
}

.comment-div{
    display: flex;
    background-color: #90EE90;
    border-radius: 5px;
    box-shadow: 0px 3px 10px #464646;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
}

.comment-text{
    margin: 0px;
}

.btn-del{
    margin-left: 5px;
    transition: background-color 0.3s ease;
    background-color: transparent;
    border: none;
    border-radius: 2px;
}

.btn-del:hover{
    background-color: #b72121;
    box-shadow: 0px 3px 10px #464646;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.show-more{
    margin-bottom: 5px;
}

.show-more:hover{
    cursor: pointer;
}

.send{
    transition: background-color 0.3s ease;
}

.send:hover{
    cursor: pointer;
    background-color: #90EE90;
    border-radius: 2px;
}